.board {
    margin: auto;
    height: 450px;
    width: 450px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.board div {
    height: 50px;
    width: 50px;
    background-color: darkgrey;
    box-sizing: border-box;
    border: 0.5px solid black;
}

.safe {
    background-color: aquamarine !important;
}

.danger {
    background-image: url("https://img.icons8.com/emoji/48/000000/bomb-emoji.png");
}

#score-card {
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

#score {
    color: green;
}